nav {
    background: rba(0,0,0,0.3);
    width: max-content;
    display: block;
    padding: 0.7em 1.7em;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem; /*This is how far the nav icon bar is from the page*/
    display: flex;
    gap: 0.8rem; /* this is the gap between the icons */
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

/* When hovering over the nav bar, it shows a dark circle around the react icons */
nav a:hover {
    background: rgba(0, 0, 0, 1)
}

nav a.active {
    background: var(--color-bg);
    color:rgb(216,190,204);
}

nav a span {
    font-size: 0.8rem;
    margin-top: 0.1rem;
    margin-left: 0.8rem;
  }